In [124]:
# Import modules
import pandas as pd
import numpy as np

In [171]:
# Dictionary with raw data
data = {'dayOfYear': [1,2,3,4,5], 
        'windSpeed': [2.2, 3.2, -9999.0, 4.1, 2.9], 
        'windDirection': ['E', 'NW', 'NW', 'N', 'S'],
        'precipitation': [0, 18, 25, 2, 0]}

In [126]:
# Use this line to load tabulated data from a .csv file
#df = pd.read_csv('filename.csv')

In [172]:
# Create DataFrame
df = pd.DataFrame(data)

In [173]:
# Crude printing of the dataframe
print(df)

   dayOfYear  windSpeed windDirection  precipitation
0          1        2.2             E              0
1          2        3.2            NW             18
2          3    -9999.0            NW             25
3          4        4.1             N              2
4          5        2.9             S              0

In [130]:
df.head(3)

   dayOfYear  windSpeed windDirection  precipitation
0          1        2.2             E              0
1          2        3.2            NW             18
2          3    -9999.0            NW             25

In [131]:
df.tail(3)

   dayOfYear  windSpeed windDirection  precipitation
2          3    -9999.0            NW             25
3          4        4.1             N              2
4          5        2.9             S              0

In [133]:
# Obtain headers
df.columns

Index(['dayOfYear', 'windSpeed', 'windDirection', 'precipitation'], dtype='object')

In [134]:
# Data types
df.dtypes

dayOfYear          int64
windSpeed        float64
windDirection     object
precipitation      int64
dtype: object

In [43]:
# Total number of elements in the dataframe
df.size

20

In [135]:
# Dimensions of the dataframe (rows,columns)
df.shape

(5, 4)

## Logical indexing

In [174]:
# Logical indexing for the entire dataframe
idx_missing = df.isin([-9999.0])
idx_missing

   dayOfYear  windSpeed  windDirection  precipitation
0      False      False          False          False
1      False      False          False          False
2      False       True          False          False
3      False      False          False          False
4      False      False          False          False

In [138]:
# Logical indexing for a specific column
df["windSpeed"] == -9999.0

0    False
1    False
2     True
3    False
4    False
Name: windSpeed, dtype: bool

## NaN (Not a Number)

In [139]:
# Numpy nan is of type float
type(np.nan)

float

In [175]:
# Check our work replacing the missing value
df[idx_missing] = np.nan
df

   dayOfYear  windSpeed windDirection  precipitation
0          1        2.2             E              0
1          2        3.2            NW             18
2          3        NaN            NW             25
3          4        4.1             N              2
4          5        2.9             S              0

In [141]:
# Descriptive statistics
df.describe()

       dayOfYear  windSpeed  precipitation
count   5.000000   4.000000         5.0000
mean    3.000000   3.100000         9.0000
std     1.581139   0.787401        11.7047
min     1.000000   2.200000         0.0000
25%     2.000000   2.725000         0.0000
50%     3.000000   3.050000         2.0000
75%     4.000000   3.425000        18.0000
max     5.000000   4.100000        25.0000

In [142]:
# Individual stats
print(df["windSpeed"].mean())
print(df["windSpeed"].min())
print(df["windSpeed"].max())
print(df["windSpeed"].std())
print(df["windSpeed"].median())
print(df["windSpeed"].quantile(0.5))

3.1
2.2
4.1
0.7874007874011809
3.05
3.05

In [62]:
# Cumulative sum using `bracket` syntax (recommended)
df["precipitation"].cumsum()

0     0
1    18
2    43
3    45
4    45
Name: precipitation, dtype: int64

In [143]:
# Cumulative sum using alternative syntax
df.precipitation.cumsum()

0     0
1    18
2    43
3    45
4    45
Name: precipitation, dtype: int64

In [144]:
# Find unique elements
df["windDirection"].unique()

array(['E', 'NW', 'N', 'S'], dtype=object)

# Select rows

In [68]:
df[0:3]

   dayOfYear  windSpeed windDirection  precipitation
0          1        2.2             E              0
1          2        3.2            NW             18
2          3        NaN            NW             25

## Select columns

In [72]:
# Select columns
df[ ["windSpeed","windDirection"] ]

   windSpeed windDirection
0        2.2             E
1        3.2            NW
2        NaN            NW
3        4.1             N
4        2.9             S

## Integet location (iloc)

Purely integer-location based indexing

Official docs: <https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html>

In [84]:
# integer loc or iloc notation (here we ONLY use the 
# row and column numbers)
# Non-inclusive of the last element

df.iloc[0:3,2:4]

df.iloc[:,2]

0     E
1    NW
2    NW
3     N
4     S
Name: windDirection, dtype: object

## Label or boolean location (loc)

Access a group of rows and columns by label(s) or a boolean array.

<https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html#pandas.DataFrame.loc>

In [146]:
# location or loc  (here we use the column names)
df.loc[0:3, ["windSpeed","precipitation"] ]

   windSpeed  precipitation
0        2.2              0
1        3.2             18
2        NaN             25
3        4.1              2

In [147]:
idx_wind = df["windSpeed"] > 3
idx_wind

0    False
1     True
2    False
3     True
4    False
Name: windSpeed, dtype: bool

In [150]:
df.loc[idx_wind,"precipitation"]

1    18
3     2
Name: precipitation, dtype: int64

In [152]:
# Generate separate dataframe with results from previous slicing operation
# Unless absolutely necessary this step may not be necessary.
# This was added because of a question during the class.
df_precip_high_wind = pd.DataFrame(df.loc[idx_wind,"precipitation"])
df_precip_high_wind

   precipitation
1             18
3              2

## Pandas datetime

In [153]:
# Generate pandas dates starting from 1-January-2019
dates = pd.date_range('20190101', periods=df.shape[0])
dates

DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
               '2019-01-05'],
              dtype='datetime64[ns]', freq='D')

## Inser and delete columns

>It's important in the next few lines to overwrite the DataFrame `df`, otherwise Python creates copies of the same DataFrame that may conflict with each other in future operations.

In [176]:
# Let's look at the current state of the df
df.head()

   dayOfYear  windSpeed windDirection  precipitation
0          1        2.2             E              0
1          2        3.2            NW             18
2          3        NaN            NW             25
3          4        4.1             N              2
4          5        2.9             S              0

In [177]:
# Add new column using the insert() method
df.insert(0,'dates',dates)
df

# This cell will throw an error if you run it more then once 
# since the column can be inserted only one time

       dates  dayOfYear  windSpeed windDirection  precipitation
0 2019-01-01          1        2.2             E              0
1 2019-01-02          2        3.2            NW             18
2 2019-01-03          3        NaN            NW             25
3 2019-01-04          4        4.1             N              2
4 2019-01-05          5        2.9             S              0

In [178]:
# Remove column using the drop() method
df = df.drop(['dates'], axis=1)
df.head()

   dayOfYear  windSpeed windDirection  precipitation
0          1        2.2             E              0
1          2        3.2            NW             18
2          3        NaN            NW             25
3          4        4.1             N              2
4          5        2.9             S              0

In [179]:
# A simpler alternative without control on the location of the new column
# The date column will be added at the end, perhaps not the best for dates,
# Handy statement for appending any other column at the end of the dataframe,
# like another weather variable.
df["dates"] = dates
df.head()

   dayOfYear  windSpeed windDirection  precipitation      dates
0          1        2.2             E              0 2019-01-01
1          2        3.2            NW             18 2019-01-02
2          3        NaN            NW             25 2019-01-03
3          4        4.1             N              2 2019-01-04
4          5        2.9             S              0 2019-01-05

## Get numpy values from the dataframe

This is an important step when working with Numpy methods.

In [180]:
print(type(df["windSpeed"])) # Accessing the values in the cell in Pandas format

print(type(df["windSpeed"].values)) # Accessing the actual Numpy values inside the Pandas cell

<class 'pandas.core.series.Series'>
<class 'numpy.ndarray'>