In [22]:
import pandas as pd
import numpy as np

In [23]:
# Read file containing weather daily data for the Oklahoma Mesonet
# Note that it's not necessary to navigate using a separate module, you can do all in one step
# Only use this if the directory is nearby.
df = pd.read_csv('../Datasets/ok_mesonet_8_apr_2019.csv')

In [24]:
# Check our dataset
# Upon inspection we see some blank cells that need to be filled with NaNs
df.head()

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
0,ACME,Acme,OK,34.81,-98.02,2019,4,15,15,20,...,,,,,,,,,,
1,ADAX,Ada,OK,34.80,-96.67,2019,4,15,15,20,...,40,,,S,12,20,1011.13,78,48,
2,ALTU,Altus,OK,34.59,-99.34,2019,4,15,15,20,...,39,,82,SSW,19,26,1007.86,82,45,
3,ALV2,Alva,OK,36.71,-98.71,2019,4,15,15,20,...,32,,82,S,20,26,1004.65,84,40,
4,ANT2,Antlers,OK,34.25,-95.67,2019,4,15,15,20,...,35,,,S,11,20,1013.64,78,38,

In [25]:
# Let's check what is exactly inside the cell before we replace the values
df.loc[0,'RAIN']

' '

In [14]:
# Replace empty spaces by NaN.
# The inplace option tells Python to directly replace the ' ' with NaNs without creating
# a copy of the dataframe
df.replace(' ', np.nan, inplace=True)
df

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
0,ACME,Acme,OK,34.81,-98.02,2019,4,15,15,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ADAX,Ada,OK,34.80,-96.67,2019,4,15,15,20,...,40,NaN,NaN,S,12,20,1011.13,78,48,NaN
2,ALTU,Altus,OK,34.59,-99.34,2019,4,15,15,20,...,39,NaN,82,SSW,19,26,1007.86,82,45,NaN
3,ALV2,Alva,OK,36.71,-98.71,2019,4,15,15,20,...,32,NaN,82,S,20,26,1004.65,84,40,NaN
4,ANT2,Antlers,OK,34.25,-95.67,2019,4,15,15,20,...,35,NaN,NaN,S,11,20,1013.64,78,38,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,WILB,Wilburton,OK,34.90,-95.35,2019,4,15,15,20,...,39,NaN,NaN,S,19,29,1012.43,77,42,NaN
116,WIST,Wister,OK,34.98,-94.69,2019,4,15,15,20,...,39,NaN,NaN,S,12,23,1013.15,77,36,NaN
117,WOOD,Woodward,OK,36.42,-99.42,2019,4,15,15,20,...,23,NaN,83,S,25,32,1004.84,86,46,NaN
118,WYNO,Wynona,OK,36.52,-96.34,2019,4,15,15,20,...,36,NaN,NaN,SSW,24,33,1007.98,80,46,NaN
119,YUKO,Yukon,OK,35.56,-97.76,2019,4,15,15,20,...,38,NaN,NaN,SSW,27,35,1008.64,80,51,NaN

## Important note

You can replace the missing values for some other values. Unless you have a method for replacing missing data, it is better to replace them with `NaN`. Never replace missing rainfall data with `0`. A value of zero means that the rain gauge recorded no rainfall. A missing value means that the rain gauge was not working that day and we don't know whether the rainfall was 0 or not.

In [26]:
# Find row for ACME station
idx_acme = df['STID'] == 'ACME'
df[idx_acme]

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
0,ACME,Acme,OK,34.81,-98.02,2019,4,15,15,20,...,,,,,,,,,,

In [27]:
# Find all stations that contain an A
idx_starts_with_A = df['STID'].str.contains('A')
df[idx_starts_with_A]

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
0,ACME,Acme,OK,34.81,-98.02,2019,4,15,15,20,...,,,,,,,,,,
1,ADAX,Ada,OK,34.80,-96.67,2019,4,15,15,20,...,40,,,S,12,20,1011.13,78,48,
2,ALTU,Altus,OK,34.59,-99.34,2019,4,15,15,20,...,39,,82,SSW,19,26,1007.86,82,45,
3,ALV2,Alva,OK,36.71,-98.71,2019,4,15,15,20,...,32,,82,S,20,26,1004.65,84,40,
4,ANT2,Antlers,OK,34.25,-95.67,2019,4,15,15,20,...,35,,,S,11,20,1013.64,78,38,
5,APAC,Apache,OK,34.91,-98.29,2019,4,15,15,20,...,41,,,S,23,29,1008.9,80,49,
6,ARD2,Ardmore,OK,34.19,-97.09,2019,4,15,15,20,...,41,,,S,18,26,1011.43,77,50,
7,ARNE,Arnett,OK,36.07,-99.90,2019,4,15,15,20,...,10,,85,SW,22,32,1005.13,,,
8,BEAV,Beaver,OK,36.80,-100.53,2019,4,15,15,20,...,9,,84,SW,17,26,1003.9,91,34,
11,BLAC,Blackwell,OK,36.75,-97.25,2019,4,15,15,20,...,38,,,SSW,15,23,1007.02,80,44,
20,BYAR,Byars,OK,34.85,-97.00,2019,4,15,15,20,...,43,,,S,22,32,1010.64,77,49,
21,CAMA,Camargo,OK,36.03,-99.35,2019,4,15,15,20,...,32,,82,S,23,29,1005.56,,,
22,CARL,Lake Carl Blackwell,OK,36.15,-97.29,2019,4,15,15,20,...,36,,80,S,17,25,1007.56,80,50,
24,CHAN,Chandler,OK,35.65,-96.80,2019,4,15,15,20,...,37,,,SSW,16,27,1009.35,80,48,
28,CLAY,Clayton,OK,34.66,-95.33,2019,4,15,15,20,...,36,,,S,9,24,1012.9,78,40,
31,COPA,Copan,OK,36.91,-95.89,2019,4,15,15,20,...,37,,,S,20,30,1008.05,79,47,
32,DURA,Durant,OK,33.92,-96.32,2019,4,15,15,20,...,41,,,S,18,28,1013.08,77,49,
36,EUFA,Eufaula,OK,35.30,-95.66,2019,4,15,15,20,...,38,,,S,24,31,1010.67,78,48,
37,EVAX,Eva,OK,36.92,-101.78,2019,4,15,15,20,...,9,,80,WSW,18,25,1005.28,86,37,
38,FAIR,Fairview,OK,36.26,-98.50,2019,4,15,15,20,...,42,,,SSW,21,29,1005.71,80,40,
40,FORA,Foraker,OK,36.84,-96.43,2019,4,15,15,20,...,32,,,S,24,30,1007.78,80,45,
44,GRA2,Grandfield,OK,34.24,-98.74,2019,4,15,15,20,...,44,,81,SSW,19,26,1009.07,81,44,
46,HASK,Haskell,OK,35.75,-95.64,2019,4,15,15,20,...,40,,,S,23,30,1010.12,79,42,
49,HOBA,Hobart,OK,34.99,-99.05,2019,4,15,15,20,...,44,,,S,24,30,1007.96,79,48,
54,IDAB,Idabel,OK,33.83,-94.88,2019,4,15,15,20,...,39,,,S,13,19,1015.16,76,42,
56,JAYX,Jay,OK,36.48,-94.78,2019,4,15,15,20,...,32,,,S,11,28,1010.31,78,45,
60,LAHO,Lahoma,OK,36.38,-98.11,2019,4,15,15,20,...,44,,,S,21,28,1006.56,78,43,
61,LANE,Lane,OK,34.31,-96.00,2019,4,15,15,20,...,41,,,SSE,17,26,1012.97,78,42,
62,MADI,Madill,OK,34.04,-96.94,2019,4,15,15,20,...,46,,,SSE,13,19,1011.95,77,47,
63,MANG,Mangum,OK,34.84,-99.42,2019,4,15,15,20,...,35,,81,S,20,28,1007.35,83,45,
64,MARE,Marena,OK,36.06,-97.21,2019,4,15,15,20,...,36,,,S,22,31,1007.83,79,48,
65,MAYR,May Ranch,OK,36.99,-99.01,2019,4,15,15,20,...,26,,82,SSE,15,21,1004.71,85,39,
66,MCAL,McAlester,OK,34.88,-95.78,2019,4,15,15,20,...,35,,,S,12,22,1011.93,79,41,
69,MIAM,Miami,OK,36.89,-94.84,2019,4,15,15,20,...,35,,,SSW,21,28,1009.46,78,46,
75,NOWA,Nowata,OK,36.74,-95.61,2019,4,15,15,20,...,38,,,S,25,36,1008.59,78,43,
81,PAUL,Pauls Valley,OK,34.72,-97.23,2019,4,15,15,20,...,40,,,S,13,23,1010.47,79,47,
82,PAWN,Pawnee,OK,36.36,-96.77,2019,4,15,15,20,...,38,,,S,23,32,1008.13,80,46,
89,SALL,Sallisaw,OK,35.44,-94.80,2019,4,15,15,20,...,36,,,SSE,14,22,1012.27,79,41,
92,SHAW,Shawnee,OK,35.36,-96.95,2019,4,15,15,20,...,43,,,S,22,30,1009.57,77,50,
93,SKIA,Skiatook,OK,36.42,-96.04,2019,4,15,15,20,...,37,,,SSW,17,27,1008.68,78,49,
94,SLAP,Slapout,OK,36.60,-100.26,2019,4,15,15,20,...,9,,84,SW,21,30,1004.43,91,42,
98,STUA,Stuart,OK,34.88,-96.07,2019,4,15,15,20,...,40,,,S,22,32,1011.66,77,46,
100,TAHL,Tahlequah,OK,35.97,-94.99,2019,4,15,15,20,...,36,,,SSE,19,27,1011.16,77,44,
101,TALA,Talala,OK,36.57,-95.75,2019,4,15,15,20,...,38,,,S,25,32,1008.79,79,45,
102,TALI,Talihina,OK,34.71,-95.01,2019,4,15,15,20,...,34,,,S,12,21,1013.46,78,38,
106,VALL,Valliant,OK,33.94,-95.11,2019,4,15,15,20,...,40,,,S,13,20,1014.69,76,41,
108,WAL2,Walters,OK,34.40,-98.35,2019,4,15,15,20,...,45,,,S,20,23,1009.68,80,45,
109,WASH,Washington,OK,34.98,-97.52,2019,4,15,15,20,...,40,,,S,22,32,1009.75,78,45,
110,WATO,Watonga,OK,35.84,-98.53,2019,4,15,15,20,...,47,,,S,22,31,1007.49,76,49,
111,WAUR,Waurika,OK,34.17,-97.99,2019,4,15,15,20,...,32,,81,S,16,25,1010.23,84,46,
112,WEAT,Weatherford,OK,35.51,-98.78,2019,4,15,15,20,...,50,,,S,24,32,1007.53,76,46,

In [40]:
# Boolean indexing
idx = df['NAME'].str.contains('Blackwell') & df['NAME'].str.contains('Lake')
df[idx]

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
22,CARL,Lake Carl Blackwell,OK,36.15,-97.29,2019,4,15,15,20,...,36,,80,S,17,25,1007.56,80,50,

In [42]:
idx = df['NAME'].str.contains('Blackwell') | df['NAME'].str.contains('Lake')
df[idx]

,STID,NAME,ST,LAT,LON,YR,MO,DA,HR,MI,...,RELH,CHIL,HEAT,WDIR,WSPD,WMAX,PRES,TMAX,TMIN,RAIN
11,BLAC,Blackwell,OK,36.75,-97.25,2019,4,15,15,20,...,38,,,SSW,15,23,1007.02,80,44,
22,CARL,Lake Carl Blackwell,OK,36.15,-97.29,2019,4,15,15,20,...,36,,80,S,17,25,1007.56,80,50,